.bar {
    position: sticky;
    top: 0;
    z-index: 1000;

    background: #fdecd6;
    color: #7a3e0e;
    text-align: center;

    padding: 0.5rem 1rem;
    border-bottom: 1px solid #e5c8a5;
}

.bar h3 {

    margin: 0;
    font-size: 1rem;
    font-family: var(--font-pilat);
    font-weight: 700;
}

.bar h4 {
    font-size: 0.75rem;
    font-family: var(--font-pilat);
    margin: 0;
    font-weight: 600;
}

@media (max-width: 768px) {
    .bar h3 {
        font-size: 0.75rem;
    }

    .bar h4 {
        font-size: 0.6rem;
    }
}