.section {
    background: #fff8f1;
    padding: 5rem 4rem;
    text-align: center;
    color: #3b2a1a;
    width: 100%;
}

/* small heading */
.section h5 {
    font-family: var(--font-pilat);
    font-weight: 600;
    font-size: 13px;
    line-height: 20.8px;
    letter-spacing: 3px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    color: #2F1908;
}

/* main heading */
.section h2 {
    font-family: var(--font-reyork);
    font-weight: 400;
    line-height: 55px;
    letter-spacing: -1px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 3rem;
    color: #6C3D08
}

.section h2 span {
    color: #00b8c8;
}

/* cards container */
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    max-width: 1100px;
    margin: 0 auto;
}

/* single card */
.card {
    background: #fffaf4;
    border: 1.5px solid #B27647;
    border-radius: 1rem;
    padding: 2.2rem 1.8rem;
}

/* icon image */
.card img {
    width: 48px;
    height: auto;
    margin-bottom: 1rem;
}

/* card heading */
.card h3 {
    font-family: var(--font-pilat);
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 0.75rem;
}

/* description */
.card p {
    font-family: var(--font-pilat);
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    font-size: 0.85rem;
    font-weight: 500;
    line-height: 1.5;
    color: #462B0D;
}

/* responsive */
@media (max-width: 900px) {
    .section {
        padding: 3rem 1.5rem;
    }

    .cards {
        grid-template-columns: 1fr;
    }
}