.section {
    background: #fff8f1;
    padding: 5rem 4rem;
    color: #3b2a1a;
}

.section>div{
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    gap: 3rem;
    align-items: center;
}

/* LEFT CONTENT */
.left h5 {
    font-family: var(--font-pilat);
    font-weight: 450;
    font-size: 13px;
    line-height: 20.8px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    color: #2F1908;
}

.left h2 {
    font-family: var(--font-reyork);
    font-weight: 400;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: -1.8px;
    text-transform: uppercase;
    margin-bottom: 1.8rem;
    color: #6C3D08;
}

.left h2 span {
    color: #0EACC3;
}

/* checklist */
.list {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}

.item {
    display: flex;
    align-items: flex-start;
    gap: 0.6rem;
}

.item img {
    width: 30px;
    height: 30px;
    margin-top: 2px;
}

.item p {
    font-family: var(--font-pilat);
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: left;
    color: #462B0D;
}

/* RIGHT IMAGE */
.imageWrap {
    border-radius: 1rem;
    overflow: hidden;
}

.imageWrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

/* RESPONSIVE */
@media (max-width: 1000px) {
    .section {
        grid-template-columns: 1fr;
        padding: 3rem 1.5rem;
    }

    .imageWrap {
        order: -1;
    }
}