.hero {
    position: relative;
    min-height: 60vh;
    padding: 8rem 4rem 4rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    width: 100%;
}

/* dark overlay */
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    z-index: 0;
}

.hero>* {
    position: relative;
    z-index: 1;
}

/* headings */
.hero h2 {
    font-family: var(--font-pilat);
    font-weight: 600;
    font-style: 'Demi';
    font-size: 13px;
    line-height: 20.8px;
    letter-spacing: 3px;
    vertical-align: middle;
    text-transform: uppercase;
    text-align: center;
    color: #e5e5e5;
    margin-bottom: 0.75rem;
}

.hero h3 {
    font-family: var(--font-reyork);
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    font-size: 4.2rem;
    font-weight: 800;
    max-width: 700px;
    margin: 0 auto 1rem;
    line-height: 1.2;
}

.hero h5 {
    max-width: 700px;
    font-family: var(--font-pilat);
    font-size: 16px;
    line-height: 25.6px;
    letter-spacing: -0.2px;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto 1.75rem;
    font-size: 1rem;
    color: #e6e6e6;
    font-weight: 400;
}

/* CTA */
/* .hero button {
    display: block;
    margin: 0 auto 3rem;
    padding: 0.6rem 1.4rem;
    background: #00b8c8;
    color: #fff;
    border: none;
    font-size: 0.75rem;
    text-transform: uppercase;
    cursor: pointer;
    opacity: 1;
    font-family: var(--font-reyork);
    border-radius: 0.5rem;
    font-weight: 100;
    font-size: 1.125rem;
}

.hero button:hover {
    opacity: 0.9;
} */

/* bottom cards container */
.cards {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 1.25rem;
    max-width: 1200px;
    margin: 0 auto;
}

/* first card */
.mainCard {
    color: #111;
    background: #FFF5EE;
    border-radius: 1rem;
    display: flex;
    overflow: hidden;
    padding: 1.5rem;
}

.mainCardContent {
    padding: 1.5rem;
    flex: 1;
    padding-left: 0;
}

.mainCardContent h4 {
    font-size: 1.75rem;
    color: #2F1908;
    margin-bottom: 0.5rem;
    font-weight: 200;
    font-family: var(--font-reyork);
}

.mainCardContent p {
    font-size: 0.75rem;
    line-height: 1.6;
    color: #636969;
    font-family: var(--font-pilat);
}

.mainCardMedia {
    color: #fff;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100%;
    aspect-ratio: 1 / 1;
    font-size: 2rem;
    display: flex;
    border-radius: 1rem;
}

/* side images */
.sideImage {
    border-radius: 1rem;
    overflow: hidden;
}

.sideImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* responsive */
@media (max-width: 900px) {
    .cards {
        grid-template-columns: 1fr;
    }

    .hero {
        padding: 6rem 1.5rem 3rem;
    }

    .hero h3 {
        font-size: 2rem;
    }

    .mainCard {
        flex-direction: column-reverse;
    }

    .mainCardMedia {
        width: 100%;
    }
}