:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* CTA */
button {
  display: block;
  margin: 0 auto 3rem;
  padding: 0.6rem 1.4rem;
  background: #00b8c8;
  color: #fff;
  border: none;
  font-size: 0.75rem;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 1;
  font-family: var(--font-reyork);
  border-radius: 0.5rem;
  font-weight: 100;
  font-size: 1.125rem;
}

button:hover {
  opacity: 0.9;
}