.section {
    background: #fff8f1;
    padding: 4rem 3rem;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
    background: #fff4ee;
    border: 1px solid #36120E1A;
    border-radius: 2rem;
    padding: 3rem 3.5rem;
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    gap: 3rem;
}

.left p {
    text-align: left;
    margin-bottom: 1.8rem;
}

.contactItem {
    /* font-family: "Poppins", sans-serif; */
    font-family: var(--font-pilat);
    font-weight: 500;
    font-size: 1rem;
    line-height: 180%;
    letter-spacing: 0%;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    margin-bottom: 1rem;
    color: #0EACC3;
}

.contactItem img {
    width: 18px;
    height: 18px;
}

/* RIGHT FORM */
.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.form input,
.form textarea {
    font-family: var(--font-pilat);
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;

    width: 100%;
    padding: 0.75rem 1rem;
    border-radius: 999px;
    border: 1px solid #eee;
    font-size: 0.8rem;
    outline: none;
}

.form textarea {
    border-radius: 1.2rem;
    height: 120px;
    resize: none;
}

.form input::placeholder,
.form textarea::placeholder {
    color: #999;
}

/* SUBMIT */
.form button {
    margin-right: auto;
    margin-left: 0;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .wrapper {
        grid-template-columns: 1fr;
        padding: 2.5rem 2rem;
    }

    .row {
        grid-template-columns: 1fr;
    }

    .section {
        padding: 4rem 1rem;
    }
}