.section {
    background: #fff8f1;
    padding: 5rem 4rem;
    color: #3b2a1a;
}

.section button {
    margin: 4rem 0 0 0;
}

/* headings */
.section h4 {
    text-transform: uppercase;
    margin-bottom: .75rem;
    font-family: var(--font-pilat);
    font-size: 1rem;
    line-height: 20.8px;
    letter-spacing: 3px;
}

.section h5 {
    text-transform: uppercase;
    margin-bottom: .75rem;
    font-family: var(--font-pilat);
    font-size: 0.75rem;
    line-height: 20.8px;
    letter-spacing: 3px;
}

.section h2 {
    max-width: 900px;
    margin-bottom: 3rem;
    font-family: Reyork;
    font-weight: 400;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: -1.8px;
    vertical-align: middle;
    text-transform: uppercase;
    color: #6C3D08;
}

.section h2 span {
    color: #0EACC3;
}

/* story top grid */
.storyGrid {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 2.5rem;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 3rem;
}

/* founder card */
.founder {
    position: relative;
    max-height: 600px;
}

.founder img {
    width: 100%;
    border-radius: 1rem;
    filter: grayscale(100%);
    filter: grayscale();
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.founder h3 {
    width: max-content;
    margin-top: .75rem;
    position: absolute;
    bottom: 0;
    padding: 1rem;
    background-color: #FFF9F57A;
    border-radius: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    font-family: var(--font-reyork);
    font-weight: 100;
}

/* story content */
.storyContent img {
    border-radius: 1rem;
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.storyContent p {
    color: #462B0D;
    margin-bottom: 2rem;
    font-family: var(--font-pilat);
    font-weight: 500;
    font-size: 1rem;
    line-height: 170%;
}

/* .storyContent button {
    background: #00b8c8;
    border: none;
    color: #fff;
    padding: 0.45rem 1.2rem;
    font-size: 0.7rem;
    border-radius: 999px;
    cursor: pointer;
}

.storyContent button:hover {
    opacity: 0.9;
} */

.philosophy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    margin: auto;
}

.philosophy>h2 {
    margin-bottom: 0;
}

.philosophy>h6 {
    font-family: var(--font-pilat);
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 300;
}

.philosophy p{
    text-align: center;
}

/* stats row */
.stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    margin: 4rem 0;
    gap: 1rem;
}

.stats>div {
    border-left: 1px solid #6541182E;
}

.stats h1 {
    margin-bottom: 1.25rem;
    font-family: var(--font-pilat);
    font-weight: 400;
    font-size: 64px;
    line-height: 73px;
    text-align: center;
    text-transform: uppercase;
    color: #2F1908;
}

.stats h6 {
    color: #B27647;
    font-family: var(--font-pilat);
    font-weight: 450;
    font-size: 18px;
    line-height: 23.4px;
    letter-spacing: -0.7px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}

/* vision section */
.vision {
    grid-template-columns: 1.3fr 1fr;
    align-items: flex-start;
    gap: 2.5rem;
    display: grid;
}

.vision h5 {
    font-family: var(--font-pilat);
    font-weight: 600;
    font-size: 13px;
    line-height: 20.8px;
    letter-spacing: 3px;
    vertical-align: middle;
    text-transform: uppercase;
    color: #2F1908;
}

.vision p {
    font-family: var(--font-pilat);
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #462B0D;
}

.vision img {
    border-radius: 1rem;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/* responsive */
@media (max-width: 900px) {
    .section {
        padding: 3rem 1.5rem;
    }

    .section h2 {
        letter-spacing: 0.2px;
        font-size: 32px;
        line-height: 32px;
    }

    .storyGrid,
    .vision {
        grid-template-columns: 1fr;
    }

    .stats {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }


    .stats h1 {
        font-size: 48px;
    }

    .stats h6 {
        font-size: 16px;
    }
}