.footer {
    background: #1b1b1b;
    color: #d1d1d1;
    padding: 4rem 3rem 1.5rem;
    width: 100%;
}

/* TOP GRID */
.top {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1.3fr;
    gap: 3rem;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid #333;
}

/* COLUMN */
.col h4 {
    font-family: var(--font-reyork);
    font-weight: 400;
    font-size: 27px;
    line-height: 23.1px;
    letter-spacing: 0%;
    color: #0EACC3;
    margin-bottom: 1rem;
}

.col p {
    font-weight: 300;
    font-size: 18.9px;
    line-height: 31.5px;
    letter-spacing: 0%;
    color: #FFFFFF;
    text-align: left;
    font-family: var(--font-pilat);
    margin: 1rem 0 1.5rem;
    max-width: 320px;
}

/* LOGO */
.logo {
    width: 250px;
    height: auto;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.logo:hover {
    opacity: 0.8;
}

/* SOCIAL ICONS */
.socials {
    display: flex;
    gap: 1rem;
}

.socials a {
    display: inline-block;
    transition: transform 0.3s ease;
}

.socials a:hover {
    transform: translateY(-3px);
}

.socials img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

/* LISTS */
.col ul {
    list-style: none;
    padding: 0;
}

.col ul li {
    font-family: var(--font-pilat);
    font-weight: 400;
    font-size: 18.9px;
    line-height: 21px;
    letter-spacing: 0px;
    text-transform: capitalize;
    margin-bottom: 0.6rem;
}

.col ul li a {
    color: #d1d1d1;
    text-decoration: none;
    transition: color 0.3s ease;
    cursor: pointer;
}

.col ul li a:hover {
    color: #0EACC3;
}

/* CONTACT */
.contact {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.contact a {
    text-decoration: none;
    transition: transform 0.3s ease;
    display: inline-block;
}

.contact a:hover {
    transform: translateX(5px);
}

.contact span {
    font-family: var(--font-pilat);
    font-weight: 400;
    font-size: 18.9px;
    line-height: 180%;
    letter-spacing: 0%;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    color: #0EACC3;
}

.contact img {
    width: 16px;
    height: 16px;
}

/* BOTTOM */
.bottom {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 0.75rem;
}

.bottom>p {
    color: white;
}

.bottom span {
    color: #0EACC3;
    cursor: pointer;
}

.bottom span:hover {
    text-decoration: underline;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .top {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .footer {
        padding: 3rem 1.5rem 1.5rem;
    }
}